@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
  color: black;
  width: 100%;
}

html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

nav,
footer,
header,
aside {
  display: block;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  padding: 0;
  margin: 0;
}

section {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body.active {
  overflow: hidden;
}

.footer_conteiner {
  border-top: 0.5px solid #eeeeee;
  max-width: 1320px;
  margin: 0px auto;
}

.footer_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 10px;
}

.footer_icon a {
  padding: 0px 15px;
}

.list3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}

.list3 li {
  padding: 0px 20px;
}

.list3 a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 900;
  color: #151515;
}

.list3 a {
  position: relative;
}

/* Слайдер */

.slider {
  position: relative;
}

.slick-slider {
  overflow: hidden;
  padding-bottom: 20px;
}

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.slider_item {
  position: relative;
  height: 100vh;
  background-color: #e5e5e3;
}

.slider_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 40%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

.slider_title1 {
  font-size: 72px;
  font-weight: 600;
}

.slider_title2 {
  font-size: 72px;
  font-weight: 600;
}

.slider_row {
  font-size: 18px;
  font-weight: 600;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

/* Стрелка влево */

/* Стрелка вправо */

/* Стрелка не активная */

/* Точки (булиты) */

.slider .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 40px;
  margin: 0px;
  padding: 0px;
  left: 50%;
  right: 50%;
}

.slider .slick-dots li {
  list-style: none;
  padding: 0px 10px;
  font-size: 0px;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.slider .slick-dots button {
  font-size: 0px;
  width: 4px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  border: 0;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

/* Активная точка */

/* Элемент точки */

.slick-dots li.slick-active button {
  background-color: #000;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.photo {
  position: absolute;
  max-height: 90%;
  right: 5%;
  max-width: 90%;
  bottom: 0;
}

.photo img {
  max-width: 90%;
  bottom: 0;
  top: 0;
}

.marketing.active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.marketing {
  position: absolute;
  bottom: 40px;
  background: #fff;
  left: 1.8%;
  -webkit-transform: translateX(-200%);
      -ms-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.marketing_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
}

.marketing_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.marketing_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.marketing_title h1 {
  font-size: 11px;
  color: #858585;
  padding-bottom: 10px;
}

.marketing_title span:nth-child(2) {
  font-size: 15px;
  color: #151515;
  font-weight: 600;
}

.marketing_title span:nth-child(3) {
  font-size: 15px;
  color: #151515;
  font-weight: 600;
}

.marketing_title span:nth-child(4) {
  font-size: 11px;
  color: #151515;
  padding-top: 10px;
}

.krest {
  cursor: pointer;
}

@-webkit-keyframes text {
  0% {

  }

  50% {

  }

  0% {

  }
}

@keyframes text {
  0% {

  }

  50% {

  }

  0% {

  }
}

.products {
  padding-top: 80px;
  padding-bottom: 40px;
}

.products_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list2 a {
  position: relative;
  cursor: pointer;
}

.list2 .tabs::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 2px solid;
  margin-top: 7px;
  opacity: 1;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  -o-transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
}

.list2 .tabs.active::after {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.products_nav ul li:nth-child(2) {
  margin: 0px 25px;
}

.products_nav a {
  color: #aaaaaa;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.products_item {
  display: none;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.tabs.active {
  color: #151515;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.products_item.active {
  display: block;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.products_colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1850px;
  margin: 0px auto;
}

.products_sub-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products_image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 20px;
  cursor: pointer;
  overflow: hidden;
}

.products_image img {
  max-width: 100%;
}

.products_icon {
  position: absolute;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  right: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}

.products_title {
  padding-top: 20px;
}

.products_title h1 {
  color: black;
  font-size: 13px;
  font-weight: 600;
  padding-bottom: 10px;
}

.products_title h2 {
  color: black;
  font-size: 13px;
  padding-left: 15px;
  padding-bottom: 10px;
  position: relative;
}

.products_title h2::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: url("../img/lithing.png");
  left: 0;
}

.products_title span {
  font-size: 13px;
  font-weight: 900;
  color: black;
}

.products_image a {
  text-decoration: none;
}

.products_image:hover .products_icon {
  -webkit-transform: translateY(-25px);
      -ms-transform: translateY(-25px);
          transform: translateY(-25px);
  right: 0;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.products_image img {
  max-width: 100%;
}

.products_icon img {
  padding: 0px 10px;
}

.products_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.products_button a {
  position: relative;
  color: #858585;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
}

.products_button a::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 22px;
  background: url("../img/arrow_down.png") no-repeat;
  top: 28px;
  left: 40%;
}

.brands_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brands__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.brands__column_b {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.666%;
          flex: 0 1 66.666%;
}

.brands_text_j {
  text-align: center;
  position: relative;
  padding: 70px 55px;
  line-height: 30px;
  color: #443a2b;
  font-size: 16px;
}

.brands_text_j h3::after {
  content: "";
  position: relative;
  top: 43px;
  display: none;
  width: 50px;
  height: 1px;
  background-color: #848789;
  left: 50%;
  margin: 0px;
}

.row_title {
  text-transform: uppercase;
}

.item {
  height: 100%;
  display: block;
  position: relative;
}

.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}

.item__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(100, 194, 158, 0.5);
  z-index: 2;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  visibility: hidden;
}

.item_image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.row_text p {
  font-family: 'Lato', sans-serif;
}

.row_text_j {
  font-family: 'Lato', sans-serif;
  text-align: justify;
}

.row_text_j::after {
  content: "";
  display: block;
  margin: 0px auto;
  width: 50px;
  height: 1px;
  background-color: #d7d7d7;
  text-align: center;
  margin-top: 40px;
}

.brands__image {
  padding-bottom: 37.51%;
}

.shop_footer {
  text-align: center;
  background-color: #282f35;
  padding: 95px 0px;
}

.shop_footer a {
  color: #fff;
  text-decoration: none;
  padding: 17px 66px;
  border: 1px solid #94979a;
  font-size: 14px;
}

.num-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.skin-5 .num-in {
  float: left;
  vertical-align: middle;
  position: relative;
  border: 1px solid #EEEFF1;
  border-radius: 3px;
}

.num-in {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin-left: 10px;
}

.num-in input {
  text-align: center;
}

.skin-5 .num-in span {
  font-size: 16px;
  width: 20px;
  display: block;
  line-height: 41px;
}

.skin-5 .num-in span.minus {
  float: left;
  text-align: right;
}

.products3 {
  padding-bottom: 95px;
}

.skin-5 .num-in input {
  border: none;
  height: 41px;
  font-size: 16px;
  font-weight: bold;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.skin-5 .num-in span.plus {
  float: right;
  text-align: left;
}

.minus {
  cursor: pointer;
}

.in-num input {
  text-align: center;
}

.plus {
  cursor: pointer;
}

.size_clear {
  margin-top: 12px;
  margin-left: 20px;
}

.size_clear span::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: url("../img/close.png") no-repeat;
  position: absolute;
  left: -12px;
  top: 4.5px;
}

.size_clear span {
  cursor: pointer;
  color: red;
  font-weight: 900;
  position: relative;
  font-size: 13px;
  text-transform: uppercase;
}

.add {
  background-color: black;
  width: 100%;
  margin-left: 10px;
  text-align: center;
  margin-right: 15px;
  padding: 20px 0px;
  margin-top: 10px;
  cursor: pointer;
}

.add span {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}

.add2 {
  background-color: #f2f2f2;
}

.add2 span {
  color: black;
  font-weight: 600;
}

.categoriya {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

.sku {
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
}

.sku span:nth-child(1) {
  color: #848789;
}

.category {
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
}

.category span:nth-child(1) {
  color: #848789;
}

.tag {
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
}

.tag span:nth-child(1) {
  color: #848789;
}

.twitter {
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  color: #848789;
  padding-top: 10px;
}

.social_network {
  margin-left: 10px;
}

.twitter img {
  padding-left: 16px;
}

.tovar_conteiner {
  max-width: 1140px;
  margin: 0px auto;
}

.tovar_colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tovar_item {
  width: 320px;
}

.tovar_item2 {
  min-width: 0;
}

.menu_katalog {
  position: relative;
}

.katalog_list {
  padding: 0px;
}

.menu__link {
  position: relative;
  background-color: #009db1;
  padding: 20px 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  width: 280px;
  text-decoration: none;
}

.katalog_menu {
  position: absolute;
  margin-left: 220px;
  top: 30px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: #068292;
  padding: 20px 10px;
}

.katalog_menu span:nth-child(1) {
  display: block;
  position: relative;
  width: 30px;
  height: 2px;
  background-color: white;
  top: -9px;
}

.katalog_menu span:nth-child(2) {
  display: block;
  position: relative;
  width: 30px;
  height: 2px;
  background-color: white;
}

.katalog_menu span:nth-child(3) {
  display: block;
  position: relative;
  width: 30px;
  height: 2px;
  background-color: white;
  top: 9px;
}

.sub-menu__list li:nth-child(1)::before {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 24px;
  background: url("../img/arrow_right2.png") no-repeat;
  margin-left: 255px;
}

.sub-menu__list li:nth-child(2)::before {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 24px;
  background: url("../img/arrow_right2.png") no-repeat;
  margin-left: 255px;
}

.sub-menu__list li:nth-child(6)::before {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 24px;
  background: url("../img/arrow_right2.png") no-repeat;
  margin-left: 255px;
}

.sub-menu__list li:nth-child(8)::before {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 24px;
  background: url("../img/arrow_right2.png") no-repeat;
  margin-left: 255px;
}

.sub-menu__list li:nth-child(9)::before {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 24px;
  background: url("../img/arrow_right2.png") no-repeat;
  margin-left: 255px;
}

.sub-menu__list {
  display: none;
  opacity: 0;
  padding: 0px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.katalog_menu.active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  top: 0;
}

.katalog_menu.active span:nth-child(2) {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.katalog_menu.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  top: -3px;
}

.sub-menu__list.active {
  display: block;
  opacity: 1;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.sub-menu__list {
  background-color: #009db1;
  width: 320px;
}

.sub-menu__list li {
  padding: 16px 23px;
}

.sub-menu__list li {
  border-bottom: 1px solid #1aa7b9;
}

.sub-menu__list li:hover {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: #098494;
}

.sub-menu__list a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.item {
  display: none;
  visibility: hidden;
  position: absolute;
  z-index: 30;
  top: 0;
  background-color: white;
  width: 300px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border: 2px solid #009db1;
  height: 100%;
}

.back.active {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.sub-menu__list > li:hover .item {
  display: block;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  margin-left: 293px;
}

.item_row a {
  padding: 22px 30px;
}

.item_row a:hover {
  background-color: #71c7d3;
  color: white;
}

.item_row a:nth-child(1) {
  padding: 22px 30px;
}

.item_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #dedede;
}

.item_row a {
  color: #1ab9ce;
}

.item_tovar {
  padding: 30px 33px;
}

.item_tovar h1 {
  background-color: #fd8424;
  padding: 5px 13px;
  width: 115px;
  border-radius: 15px;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.item_tovar span {
  font-size: 16px;
  color: #36949f;
  line-height: 26px;
  font-weight: 900;
}

.tovar_icon {
  margin-top: 25px;
}

.tovar_icon span {
  position: relative;
  color: #333333;
  font-weight: 900;
  margin-left: 75px;
  top: -10px;
  font-size: 24px;
}

.tovar_icon span::before {
  content: '';
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  background: url("../img/icon_money.png") no-repeat;
  right: -23px;
  top: 11px;
}

.news_title h1 {
  color: #1aa7b9;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 900;
  padding-top: 40px;
  padding-bottom: 35px;
}

.news_text span {
  color: #fd8424;
  font-weight: 600;
}

.news_text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 18px;
  padding-bottom: 40px;
}

.news_number {
  padding-right: 20px;
}

.news_number h1 {
  font-size: 24px;
  color: #d8d8d8;
}

.news_number span {
  font-size: 24px;
  color: #d8d8d8;
}

.news_info2 h1 {
  font-size: 16px;
  font-weight: 600;
  color: #333333;
}

.number_info span {
  color: #666666;
}

.news_number2 span {
  font-size: 48px;
  color: #dadada;
  font-weight: 700;
  padding-right: 6px;
}

.reviws_title h1 {
  font-size: 30px;
  color: #dadada;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.news_info2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news_info2 span {
  padding-left: 75px;
  color: #999999;
  text-transform: uppercase;
}

.news_text3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1ab9ce;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 12px;
}

.news_text3 span {
  color: white;
  text-align: left;
  line-height: 1.5;
  font-size: 14px;
}

.tovar_item2 {
  margin-left: 20px;
}

.news_number3 span {
  color: #64deee;
  font-size: 52px;
  text-transform: uppercase;
  padding-right: 8px;
  padding-left: 13px;
}

.form {
  position: relative;
}

.form_sub_menu {
  position: absolute;
  z-index: 2;
  background: white;
  width: 780px;
  border-bottom: 4px solid #fd8424;
}

.form_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form_list {
  padding: 0px;
  margin: 0px;
  padding-top: 25px;
}

.form_list li {
  padding: 22px 40px;
  font-size: 12px;
}

.form_list a {
  text-decoration: none;
  color: #999999;
}

.form_list a:hover {
  color: #f68038;
}

.footer_img {
  overflow: hidden;
}

.footer_img-colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-top: 100px;
}

.footer_img_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background: url("../img/footer_1.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 20%;
  overflow: hidden;
}

.footer_item2 {
  background: url("../img/footer_2.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 20%;
  overflow: hidden;
}

.footer_img_title {
  position: relative;
  text-align: center;
  top: 40%;
}

.footer_img_title h1 {
  font-size: 48px;
  color: white;
}

.footer_img_title a {
  font-size: 15px;
  font-weight: 600;
}

.footer_img_title a {
  position: relative;
  color: white;
  text-decoration: none;
  top: 30px;
}

.services_content {
  background-color: #2F343A;
}

.services_conteiner {
  max-width: 1090px;
  margin: 0px auto;
  padding-top: 139px;
}

.services_title h1 {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: white;
  padding-bottom: 40px;
  font-size: 40px;
}

.services_title h1::before {
  content: '';
  display: block;
  position: absolute;
  width: 90px;
  height: 6px;
  background-color: #C8A35F;
  margin-top: -40px;
}

.services_colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services_item {
  max-width: 276px;
  padding: 55px 42px;
  padding-bottom: 35px;
  text-align: center;
  border: 1px solid  #2F343A;
  background-color: #393F47;
}

.services_item:hover {
  background-color: #C8A35F;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.services_item:hover .services_item-image img {
  opacity: 0;
}

.services_item:hover .services_item-image2 {
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
  padding: 20px;
  transition: 0.3s;
  border-radius: 50%;
  margin-left: 56px;
  margin-top: -20px;
  background-color: #fff;
}

.services_item_title h1 {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-top: 30px;
}

.services_item-image2 {
  position: absolute;
  margin-left: 78px;
  opacity: 0;
  visibility: hidden;
}

.company_content {
  background-color: #2F343A;
}

.company_conteiner {
  max-width: 1200px;
  margin: 0px auto;
  background-repeat: no-repeat;
  background-image: url("../img/block.jpg");
  background-position: center;
  padding-top: 160px;
  padding-bottom: 160px;
}

.company_colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.company_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.company_row {
  padding: 0px 60px 0px 60px;
  margin-top: 65px;
}

.company_title h1 {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 40px;
}

.company_title h1::before {
  content: '';
  display: block;
  position: absolute;
  width: 90px;
  height: 6px;
  background-color: #C8A35F;
  margin-top: -40px;
}

.company_text p {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 23px;
  margin-top: 20px;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border: 0.1px solid #C8A35F;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
}

.company_item-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 600px;
}

.col_row {
  margin: 0px auto;
  text-align: center;
  padding: 32px 0px;
}

.col_number span {
  font-size: 64px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.col_text span {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.col_text2 span {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.col_image {
  background: url("../img/car_image.jpg") 0 0 no-repeat;
  background-size: cover;
  width: 200px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.email_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1800px;
  margin: 0px auto;
  padding-bottom: 40px;
}

.email_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 40px 0px;
}

.conteiner1 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 420px;
  margin: 0px auto;
}

.conteiner2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px;
}

.email_row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.email_row span {
  font-size: 13px;
  padding-bottom: 23px;
  color: #6a6a6a;
  font-weight: 600;
}

.email_row h1 {
  font-size: 16px;
  padding-bottom: 40px;
  font-weight: 700;
  color: #151515;
}

.email_title h1 {
  font-size: 18px;
  color: #151515;
  font-weight: 700;
  padding: 0px;
}

.row2 {
  padding: 0px;
  padding-top: 60px;
  padding-left: 20px;
}

.email_title h2 {
  font-size: 16px;
  color: #838383;
  font-weight: 700;
}

.email_title h1 {
  padding-bottom: 50px;
}

.email_title h2 {
  padding-bottom: 30px;
}

form {
  padding-left: 20px;
  padding-bottom: 30px;
}

.input {
  border: 0;
  border-bottom: 2px solid #151515;
  background: none;
  width: 60%;
}

.submit {
  border: 0;
  background: none;
  cursor: pointer;
  border-bottom: 2px solid #151515;
  font-weight: 600;
}

.email_down span {
  font-weight: 600;
  padding-left: 20px;
}

.products_content3 {
  max-width: 1820px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 98px;
}

.swiper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
}

.brand_name span {
  font-size: 12px;
  color: #858585;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 0px 10px;
  position: relative;
  font-weight: 600;
}

.brand_name span::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 12px;
  background: #858585;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  top: 0;
  left: -2.5px;
}

.brand_name span:nth-child(1)::after {
  display: none;
}

.sliders-nav {
  overflow: hidden;
  width: 100px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-height: 500px;
}

.sliders-nav .swiper-slide {
  height: 100px;
  width: 100px;
}

.sliders-nav .swiper-slide img {
  max-height: 100%;
}

.sliders-nav .swiper-slide.swiper-slide-thumb-active img {
  border-bottom: 2px solid black;
}

.slider-main {
  overflow: hidden;
  height: 800px;
  max-width: 660px;
}

.swiper-slide {
  cursor: pointer;
}

.swiper-slides img {
  max-width: 100%;
  max-height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.description_color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description_best h1 {
  font-size: 12px;
  font-weight: 900;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.colors_1 {
  color: #151515;
  font-weight: 600;
  padding-left: 4px;
  font-size: 14px;
}

.colors {
  color: #8d8d8d;
}

.colors {
  padding: 20px 0px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description_op span {
  color: #454545;
  font-size: 15px;
  line-height: 1.538;
  text-align: left;
  font-weight: 600;
}

.tovar_description {
  max-width: 522px;
}

.colors_1.active {
  display: none;
}

.description_size {
  padding-top: 27px;
  padding-left: 5px;
}

.size_title span:nth-child(1) {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: #808080;
}

.size_title span:nth-child(2) {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
}

.tovar_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description_title h1 {
  font-size: 24px;
  color: #151515;
}

.description_prace {
  padding: 18px 0px;
}

.description_prace span:nth-child(1) {
  font-size: 18px;
  font-weight: 700;
}

.tovar_description {
  padding-top: 30px;
}

.description_prace span:nth-child(2) {
  color: #959595;
  text-decoration: line-through;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 600;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.rating-item {
  cursor: pointer;
  font-size: 1.7em;
  color: #03d607;
}

.color_list ul {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating-item::before {
  content: '\2605';
}

.rating-item.active ~ .rating-item::before {
  content: "\2606";
}

.color span .active {
  width: 100px;
  border: 2.5px solid gray;
}

.colors_1 {
  display: none;
}

.colors_1.active {
  display: block;
}

.description_rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating_Review {
  padding-top: 12px;
  padding-left: 10px;
}

.rating_Review span {
  font-size: 13px;
  color: #858585;
  line-height: 1.2;
  font-weight: 600;
}

.brand_name a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.size_colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 13px;
}

.size_item {
  border: 1px solid #cccccc;
  padding: 11px 15px;
  margin: 4px;
  cursor: pointer;
}

.size_item span {
  color: #858585;
  font-weight: 600;
}

.size_item.active {
  border: 1px solid black;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.size_item.active span {
  color: black;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.swiper-slide .swiper-slide-active {
  border-bottom: 3px solid black;
}

.color_list ul {
  margin: 8px 0px;
}

.swiper-pagination {
  display: none;
}

#selectBackground {
  background: #000;
  width: 187px;
  height: 37px;
}

#selectBackground > p {
  margin: 0;
  padding: 0;
  padding-top: 3px;
  padding-left: 6px;
  float: left;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

#selectBackground ul {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  margin-left: 90px;
}

#selectBackground ul li {
  float: left;
  list-style-type: none;
  position: relative;
  margin-left: 10px;
}

#selectBackground ul li a {
  background: red url("../images/select_bg_unactive.png") no-repeat;
  display: block;
  width: 16px;
  height: 16px;
}

#selectBackground ul li a.active {
  background: yellow url("../images/select_bg_active.png") no-repeat;
}

.slider_tovar_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  width: 50%;
  padding: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #f5f5f5;
  padding: 15px;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  border: 5px solid #f68038;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-image {
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content:hover .tovar_info {
  opacity: 0;
}

.content:hover .item_icon {
  opacity: 0;
}

.item_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
}

.tovar_info h1 {
  font-size: 16px;
  color: #36949f;
  text-decoration: none;
  font-weight: 700;
}

.tovar_info h2 {
  font-size: 16px;
  color: #36949f;
  text-decoration: none;
}

.tovar_info {
  padding-top: 30px;
}

.item_icon h1 {
  font-size: 24px;
}

.content_text {
  text-align: left;
  padding: 20px;
}

.content_text h1 {
  font-size: 16px;
}

.content_text h2 {
  font-size: 16px;
}

.item_icon {
  padding-top: 32px;
}

.money h1 {
  text-align: right;
}

.main {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.main-screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.main-screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none;
}

.header_burger {
  display: none;
  cursor: pointer;
  margin-top: 7px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header_burger span:nth-child(1) {
  display: block;
  position: relative;
  width: 30px;
  height: 2px;
  background-color: black;
  top: -9px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header_burger span:nth-child(2) {
  display: block;
  position: relative;
  width: 20px;
  height: 2px;
  background-color: black;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header_burger span:nth-child(3) {
  display: block;
  position: relative;
  width: 30px;
  height: 2px;
  background-color: black;
  top: 9px;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header_burger.active span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  top: 0;
  background-color: black;
}

.header_burger.active span:nth-child(2) {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: black;
}

.header_burger.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  top: -3px;
  background-color: black;
}

.header_conteiner {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  margin: 0px auto;
  padding: 35px 0px;
  z-index: 4;
}

.header_logo {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  top: 0;
  padding: 30px 0px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.header_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_conteiner.slick {
  background: black;
}

.header_conteiner.active {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  padding: 20px 0px;
  background: white;
}

.header_logo.active {
  padding: 20px 0px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;
}

.list li {
  margin: 0px 20px;
}

.list a {
  text-decoration: none;
  color: #151515;
  font-size: 15px;
  font-weight: 600;
}

.header_icon img {
  cursor: pointer;
}

.img_search {
  padding: 0px 10px;
}

.img_user {
  padding: 0px 10px;
}

.img_bag {
  padding: 0px 10px;
}

.list a {
  position: relative;
}

a.effect-underline:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 2px solid;
  margin-top: 7px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  -o-transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
      transform: scale(0, 1);
}

a.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
}

.menu_title {
  display: none;
}

.brands_body {
  max-width: 1850px;
  margin: 0px auto;
  padding-top: 10px;
}

.brands_colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brands_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35.555%;
          flex: 0 1 35.555%;
  background: url("../img/photo1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  margin: 8px;
  padding-bottom: 10%;
  border-radius: 5px;
  overflow: hidden;
}

.item2 {
  background: url("../img/photo2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.item3 {
  background: url("../img/photo3.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.brand_text {
  position: relative;
  top: 28%;
  left: 12%;
}

.brands_title1 h1 {
  font-size: 36px;
}

.brands_title2 h1 {
  font-size: 36px;
}

.list2 {
  padding: 0px;
}

.brand_text .list2 li {
  margin: 0px;
}

.brand_text .list2 a {
  position: relative;
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

.go_to_top {
  opacity: 0;
  position: fixed;
  bottom: 65px;
  right: 35px;
  z-index: 50;
  background-color: #fff;
  border-radius: 50%;
  padding: 13px 18px;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.go_to_top.active {
  opacity: 1;
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 50;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  position: relative;
}

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.modal--visible {
  display: block;
}

.modal_title {
  padding: 15px;
  margin-left: 15px;
}

.modal_title h1 {
  font-size: 20px;
  font-weight: 600;
}

.modal {
  background: white;
  width: 68%;
  height: 17%;
  top: 30px;
  border-radius: 25px;
}

.form2 {
  margin-top: 30px;
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input2 {
  border: 0;
  border-bottom: 3px solid #eeeeee;
  padding-top: 20px;
  width: 93%;
  font-size: 20px;
}

.form2 {
  padding: 0px;
}

.sub_button {
  position: relative;
  background: none;
  border: 0;
}

.sub_button::before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  background: url("../img/search.png") no-repeat;
  left: 0;
  top: -6px;
}

.modal_close {
  position: absolute;
  right: 0;
  top: 8px;
  padding-right: 15px;
  cursor: pointer;
}

.item_modal {
  display: none;
}

.item_modal.active {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item_modal {
  background: white;
}

@media (max-width: 1300px) {
  .products_content3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px auto;
  }

  .swiper-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .tovar_description {
    margin: 0px auto;
  }
}

@media (max-width: 1200px) {
  .photo {
    display: none;
  }
}

@media (max-width: 1179px) {
  .products_colums {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .products_sub-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .products_image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 21%;
            flex: 0 1 21%;
  }
}

@media (max-width: 1140px) {
  .tovar_conteiner {
    max-width: 1000px;
  }

  .slider_tovar_item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 1100px) {
  .brands_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item {
    height: auto;
    padding-bottom: 50%;
  }

  .item {
    height: 100%;
    padding-bottom: 0px;
  }

  .company_colums {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .company_row {
    padding-left: 60px;
  }
}

@media (max-width: 1050px) {
  .header_list {
    position: absolute;
    left: 0;
    height: 100%;
    top: 0px;
    bottom: 0;
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    z-index: 3;
    -webkit-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
            transform: translateX(-200%);
    width: 90%;
    background: white;
  }

  .header_logo {
    left: 127px;
  }

  .menu_title {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .header_burger {
    position: absolute;
    left: 15px;
    z-index: 60;
  }

  .list {
    border-top: 1px solid black;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: white;
    padding: 30px;
    text-align: center;
  }

  .list li {
    padding: 10px;
  }

  .list a {
    font-size: 20px;
  }

  .header_conteiner {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .header_burger {
    display: block;
  }

  .header_list.active {
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  .brands_colums {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .brands_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .brand_text {
    margin-top: 30px;
  }
}

@media (max-width: 1000px) {
  .tovar_conteiner {
    max-width: 990px;
  }
}

@media (max-width: 999px) {
  .products_image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 29%;
            flex: 0 1 29%;
  }
}

@media (max-width: 970px) {
  .footer_img-colums {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 45px;
  }

  .footer_img_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .footer_img_title {
    top: 25%;
    padding-bottom: 30px;
  }
}

@media (max-width: 925px) {
  .products_sub-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px auto;
  }

  .products_image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
    right: 0;
  }
}

@media (max-width: 828px) {
  .company_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .company_item-col {
    margin: 0px auto;
    padding-top: 20px;
  }
}

@media (max-width: 800px) {
  .tovar_colums {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px auto;
  }

  .tovar_item {
    width: 100%;
  }

  .menu__link {
    width: 100%;
  }

  .menu_katalog {
    width: 100%;
  }

  .katalog_menu {
    right: 60px;
  }

  .menu_link_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tovar_item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .news {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 780px) {
  .email_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .conteiner2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 420px;
    margin: 0 auto;
    padding: 5px;
  }
}

@media (max-width: 682px) {
  .modal {
    width: 100%;
  }

  .sub_button::before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    background: url("../img/search.png") no-repeat;
    left: -10px;
    top: -6px;
  }
}

@media (max-width: 650px) {
  .slider_tovar_item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .tovar_item2 {
    margin: 0px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    display: block;
    width: 85%;
  }
}

@media (max-width: 620px) {
  .sub-menu__list {
    width: 100%;
  }

  .sub-menu__list li:nth-child(1)::before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 24px;
    background: url("../img/arrow_right2.png") no-repeat;
    right: 15px;
  }

  .sub-menu__list li:nth-child(2)::before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 24px;
    background: url("../img/arrow_right2.png") no-repeat;
    right: 15px;
  }

  .sub-menu__list li:nth-child(6)::before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 24px;
    background: url("../img/arrow_right2.png") no-repeat;
    right: 15px;
  }

  .sub-menu__list li:nth-child(8)::before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 24px;
    background: url("../img/arrow_right2.png") no-repeat;
    right: 15px;
  }

  .sub-menu__list li:nth-child(9)::before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 24px;
    background: url("../img/arrow_right2.png") no-repeat;
    right: 15px;
  }
}

@media (max-width: 600px) {
  .footer_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer_icon {
    margin: 0px auto;
    padding: 10px 0px;
  }
}

@media (max-width: 570px) {
  .footer_img_title h1 {
    font-size: 40px;
  }
}

@media (max-width: 560px) {
  .products_image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70%;
            flex: 0 1 70%;
  }

  .products_nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .products_nav ul li:nth-child(2) {
    margin: 0px;
  }

  .products {
    padding-top: 20px;
  }

  .products_nav ul li {
    text-align: center;
    font-size: 20px;
    padding: 20px 10px;
  }
}

@media (max-width: 550px) {
  .slider_title1 {
    font-size: 50px;
  }

  .slider_title2 {
    font-size: 50px;
  }

  .slider_text {
    text-align: center;
    top: 30%;
  }
}

@media (max-width: 540px) {
  .services_title h1 {
    padding-left: 20px;
  }

  .services_item_title h1 {
    text-align: center;
    padding: 0px 0px;
  }
}

@media (max-width: 505px) {
  .size_colums {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .sliders-nav {
    display: none;
  }

  .tovar_description {
    margin: 5px;
  }

  .num-in {
    margin-left: 0px;
  }

  .add {
    margin-left: 0px;
  }

  .swiper-slides img {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  .products_content3 {
    padding-top: 30px;
  }

  .slider-main {
    height: 480px;
  }

  .swiper-slides {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .swiper-pagination {
    display: block;
    bottom: 5px;
    margin-left: 6px;
  }

  .swiper-pagination-bullet {
    margin: 5px;
    background-color: black;
  }
}

@media (max-width: 460px) {
  .tovar_katalog {
    left: 0px;
  }

  .company_row {
    padding: 0px 10px;
  }

  .company_conteiner {
    padding-top: 45px;
  }
}

@media (max-width: 390px) {
  .products_image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 380px) {
  .company_row {
    padding: 0px 20px 0px 20px;
  }

  .col {
    width: 180px;
  }
}

.webp .products_title h2::before{ background: url(../img/lithing.webp); }

.webp .products_button a::after{ background: url(../img/arrow_down.webp) no-repeat; }

.webp .size_clear span::before{ background: url(../img/close.webp) no-repeat; }

.webp .sub-menu__list li:nth-child(1)::before{ background: url(../img/arrow_right2.webp) no-repeat; }

.webp .sub-menu__list li:nth-child(2)::before{ background: url(../img/arrow_right2.webp) no-repeat; }

.webp .sub-menu__list li:nth-child(6)::before{ background: url(../img/arrow_right2.webp) no-repeat; }

.webp .sub-menu__list li:nth-child(8)::before{ background: url(../img/arrow_right2.webp) no-repeat; }

.webp .sub-menu__list li:nth-child(9)::before{ background: url(../img/arrow_right2.webp) no-repeat; }

.webp .tovar_icon span::before{ background: url(../img/icon_money.webp) no-repeat; }

.webp .footer_img_item{ background: url(../img/footer_1.webp) no-repeat; }

.webp .footer_item2{ background: url(../img/footer_2.webp) no-repeat; }

.webp .company_conteiner{ background-image: url(../img/block.webp); }

.webp .col_image{ background: url(../img/car_image.webp) 0 0 no-repeat; }

.webp #selectBackground ul li a{ background: red url(../images/select_bg_unactive.webp) no-repeat; }

.webp #selectBackground ul li a.active{ background: yellow url(../images/select_bg_active.webp) no-repeat; }

.webp .brands_item{ background: url(../img/photo1.webp) no-repeat; }

.webp .item2{ background: url(../img/photo2.webp) no-repeat; }

.webp .item3{ background: url(../img/photo3.webp) no-repeat; }

.webp .sub_button::before{ background: url(../img/search.webp) no-repeat; }

@media (max-width: 682px){

  .webp .sub_button::before{ background: url(../img/search.webp) no-repeat; }
}

@media (max-width: 620px){

  .webp .sub-menu__list li:nth-child(1)::before{ background: url(../img/arrow_right2.webp) no-repeat; }
}

@media (max-width: 620px){

  .webp .sub-menu__list li:nth-child(2)::before{ background: url(../img/arrow_right2.webp) no-repeat; }
}

@media (max-width: 620px){

  .webp .sub-menu__list li:nth-child(6)::before{ background: url(../img/arrow_right2.webp) no-repeat; }
}

@media (max-width: 620px){

  .webp .sub-menu__list li:nth-child(8)::before{ background: url(../img/arrow_right2.webp) no-repeat; }
}

@media (max-width: 620px){

  .webp .sub-menu__list li:nth-child(9)::before{ background: url(../img/arrow_right2.webp) no-repeat; }
}